<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cloud Printer</title>
    <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.4/css/fontawesome.min.css"
        integrity="sha384-jLKHWM3JRmfMU0A5x5AkjWkw/EYfGUAGagvnfryNV3F9VqM98XiIH7VBGVoxVSc7" crossorigin="anonymous">
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>
    <div class="w-full h-screen p-4 flex flex-col gap-y-4 justify-center items-center">
        <img src="/static/clouds.png" alt="clouds" class="w-56">
        <h1 class="text-2xl">Welcome to clound print. Upload your files to start printing!</h1>

        <form action="/upload_file" method="post" enctype="multipart/form-data">
            <input type="file" name="file" id="file" hidden>
            <label for="file"
                class="bg-blue-500 cursor-pointer hover:bg-blue-600 transition-all duration-2 text-white px-4 py-2 rounded-full">Upload
                a file</label>
            <button type="submit" class="bg-blue-500 cursor-pointer hover:bg-blue-600 transition-all duration-2 text-white px-4 py-2 rounded-full">Submit</button>
            <a href="http://cloudprinter.pythonanywhere.com/static/print_handler.py" class="bg-blue-500 cursor-pointer hover:bg-blue-600 transition-all duration-2 text-white px-4 py-2 rounded-full">Download print handler</button>
        </form>

    </div>


</body>

</html>